:root {
  --background-gray: #d3d3d361;
  --background-white: #fff;
  --background-blue: #007bff;
  --border-gray: #333;
  --piece-default: #a4a4ff2e;
  --piece-solved: #ff4f4f5c;
  --piece-empty: #fff;
}

body {
  font-family: 'Karla', sans-serif;
  text-align: center;
  background-color: var(--background-gray);
  margin: 0;
  padding: 0;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--background-white);
  border-bottom-color: var(--background-blue);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay.hidden {
  display: none;
}

.overlay form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: var(--background-white);
  border-radius: 8px;
}

.overlay form input {
  padding: 10px;
  font-size: 16px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.scores-container,
.puzzle-container {
  max-width: 250px;
  width: 250px;
  margin: 20px 0;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-white);
  box-sizing: border-box;
}

.scores-container h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.scores-container .scores-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 18px;
}

.scores-container .scores-list .empty {
  opacity: 0.5;
  text-align: center;
}

.scores-container .scores-list p {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.scores-container .scores-list p span:first-child {
  width: 20px;
}

.puzzle-container h1 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 10px;
}

header {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: var(--background-blue);
  padding: 10px;
  box-sizing: border-box;
}

header .steps,
header .time {
  display: flex;
  gap: 10px;
  color: var(--background-white);
}

header .steps .value,
header .time .value {
  font-weight: bold;
}

.puzzle-board {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
}

.puzzle-board.disabled .puzzle-piece {
  cursor: auto;
  opacity: 0.5;
}

.puzzle-piece {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: var(--piece-default);
  border: 1px solid var(--border-gray);
  border-bottom: none;
  border-right: none;
  cursor: pointer;
  box-sizing: border-box;
}

.puzzle-piece.solved {
  background-color: var(--piece-solved);
}

.puzzle-piece.empty {
  background-color: var(--piece-empty);
}

.puzzle-piece:nth-child(n + 13) {
  border-bottom: 1px solid var(--border-gray);
}

.puzzle-piece:nth-child(4n) {
  border-right: 1px solid var(--border-gray);
}

button {
  width: 200px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--background-blue);
  font-size: 24px;
  font-family: inherit;
  color: var(--background-white);
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 678px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .puzzle-container,
  .scores-container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
